.container{
    display:flex;
    padding:6rem;
    justify-content:space-between;
    

}

.WhoWeAre h2{
    margin-bottom:4rem;
    
    }
    .WhoWeAre p{
    margin-bottom:2rem;
    padding-right: 2rem;
    line-height: 2.2rem;
} 
.Cardcontainer{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    
}
.Card h3{
    color:#fff;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.Card p{
    color:#fff;
    font-size: 1rem;
}
.Card1 h3{
    color:orchid;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.Card1 p{
    color:orchid;
    font-size: 1rem;
}
.Card2 h3{
    color:rgb(22, 171, 231);
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
}
.Card2 p{
    color:rgb(22, 171, 231);
    font-size: 1rem;
}
.Card3 h3{
    color:#fff;
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
}
.Card3 p{
    color:#fff;
    font-size: 1rem;
}
.Card{
    background-color:orangered;
    padding: 1.5rem 7.2rem;
    gap:2rem;
    border-radius: 20px;
    box-shadow:rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, 
    rgba(0,0,0, 0.2) 0px -3px 0px inset;
    
}
.Card1{
    background-color:rgb(221, 156, 221);
    padding: 1.5rem 7.2rem;
    gap:2rem;
    border-radius: 20px;
    box-shadow:rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, 
    rgba(0,0,0, 0.2) 0px -3px 0px inset;
}
.Card2{
    background-color:skyblue;
    padding: 1.5rem 7.2rem;
    gap:2rem;
    border-radius: 20px;
    box-shadow:rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, 
    rgba(0,0,0, 0.2) 0px -3px 0px inset;
}
.Card3{
    background-color:navy;
    padding:1.5rem 7.2rem; ;
    gap:2rem;
    border-radius: 20px;
    box-shadow:rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, 
    rgba(0,0,0, 0.2) 0px -3px 0px inset;
}
.icon{
    font-size:4rem;
    color:blue;
    margin-bottom: 1rem;
}
.icon1{
    font-size:4rem;
    color:orangered;
    margin-bottom: 1rem;
}
.icon2{
    font-size:4rem;
    color:orange;
    margin-bottom: 1rem;
}
.icon3{
    font-size:4rem;
    color:orange;
    margin-bottom: 1rem;
}
.belief{
    display: flex;
    background-color:#f8f8f8!important; 
    padding: 3rem 6rem;

}
.belief p{
    padding-bottom:2rem ;
    line-height: 2.2rem;
}
.belief h2{
    padding-bottom: 3rem;
}
.belief1{
    padding-right:5rem ;
   
}
.CEO img{
    width: 20%;
   
}
.speciality1{
  position: relative;
  width: 65%;
  padding:1rem 6rem 1rem 6rem ;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.speciality p{
    line-height:2.2rem ;
   
    }
    .speciality{
    display :flex;
    padding: 6rem 6rem 4rem 6rem;
    }
    .speciality h2{
        padding-bottom:2rem;
    }
    @media (max-width:1024px){
        .container{
            padding:4rem;
            justify-content:space-between;
            
        
        }
        .Cardcontainer{
            grid-gap:1rem;
            
        }
        .Card{
            
            padding: 1rem 4.2rem;
            
            
        }
        .Card1{
            
            padding: 1rem 4.2rem;
            
            
        }
        .Card2{
            
            padding: 1rem 4.2rem;
            
            
        }
        .Card3{
            
            padding: 1rem 4.2rem;
            
            
        }
    }
    @media (max-width:888px){
        .container{
           flex-direction:column-reverse ;
            
        
        }
        .Cardcontainer{
            padding-bottom: 1rem;
           
            
        }
        .belief{
            flex-direction:column;
        }
        .speciality{
            flex-direction: column;
            padding: 3rem 3rem 0 3rem;
            }
            .speciality p{
                line-height:2rem ;
                text-align: center;
               
                }
                .speciality h2{
                    padding-bottom:1rem;
                    text-align: center;
                }
                .speciality1{
                    position: relative;
                    width: 100%;
                    padding:1rem 3rem 1rem 3rem ;
                  }
    }
    @media (max-width:666px){
       
        .Card{
            
            padding: 1rem 4.2rem;
            
            
        }
        .Card1{
            
            padding: 1rem 4.2rem;
            
            
        }
        .Card2{
            
            padding: 1rem 4.2rem;
            
            
        }
        .Card3{
            
            padding: 1rem 4.2rem;
            
            
        }
        .belief{
            padding: 1rem 3rem;
        }
        .belief p{
            padding-bottom:1rem ;
            line-height: 2rem;
            text-align: center;
        }
        .belief h2{
            padding-bottom: 1.5rem;
            text-align:center;
        }
        .belief h3{
            padding-bottom: .5rem;
            text-align:center;
        }
        .belief1{
            padding-right:0 ;
           
        }
        .CEO{
            display:flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        .CEO img{
           margin:auto ;
          
           
        }

    }
    @media (max-width:564px){
        .Cardcontainer{
        
            grid-template-columns: 1fr;
           gap:4rem;
            
        }
        .Card{
            
            padding: .8rem 4rem;
            
            
        }
        .Card1{
            
            padding: .8rem 4rem;
            
            
        }
        .Card2{
            
            padding: .8rem 4rem;
            
            
        }
        .Card3{
            
            padding: .8rem 4rem;
            
            
        }
        .WhoWeAre p{
            display:flex;
            text-align: center;
            padding-right: 0;
            font-size: 1rem;
            line-height: 1.5rem ;
        }
        .WhoWeAre h2{
            display:flex;
            justify-content: center;
            padding: 3.5rem  0  1rem 0;
            margin-bottom: .5rem;

        }
        .WhoWeAre button{
          margin: auto;
          justify-content: center;
          display:flex;
          margin-bottom: 2rem;
            
        }
    }