.workforce{
    display:flex;
    padding: 6rem;
}
.workforce h2{
padding-bottom: 3rem;
}
.workforce p{
line-height:2.2rem ;
padding-right:3rem ;
padding-bottom: 1rem;
}
.logo{
    width:15%;
    height:10%;
    padding-right: 1rem;
    padding-top: 1rem;
}