.Hero{
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
}
.overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.Hero img{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    z-index:-1;
}
.content{
    position: absolute;
    top:8%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding:1rem;
    z-index: 1;
}
.content p{
     margin-bottom:1rem;
     display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2.3rem;
    
}
.content h1{
    margin-bottom:1rem;
    display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   font-size: 5rem;
   
}
@media (max-width:768px){
    .content p{
        font-size:1.9rem;
    }
    .content h1{
        font-size:2.5rem;
    }
}
@media (max-width:425px){
    .content p{
        font-size:1.5rem;
    }
    .content h1{
        font-size:2rem;
    }
}