.services{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1rem;
    
}
 .servicesBtn{
    display:flex;
    justify-content:center;
    width: 100%;
    outline: none;
    border:none;
    
} 
.servicesContainer{
    width: 100%;
    background: #fff;
    padding: 1rem 2rem 1rem 2rem;
    position: relative;
    box-shadow:rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, 
    rgba(0,0,0, 0.2) 0px -3px 0px inset;
    
}

.servicesContainer h2{
    margin: 4rem auto 4rem;
    justify-content: center;
    text-align: center;
    color: #1E1E1E;
    
    
   
}


@media (max-width: 1024px){
    .services{
        
        grid-template-columns: repeat(3,1fr);
        
        
    }
}
@media (max-width: 768px){
    .services{
        
        grid-template-columns: 1fr;
        
        
    }
    
}
