.navContainer{
    display:flex;
    width:100%;
    
}
.solution{
    display:flex;
    padding: 6rem;
    width: 100%;
}
.solutionLi li{
list-style-type: none;

margin-top: 1.5rem;
font-weight: var(--light);
}
.solutionLi{
    overflow-y:scroll;
    height:30vh;
    width: 50%;
}
.active li{
    border-bottom: 3px solid var(--primary);
    padding-bottom:1rem;
    list-style-type: none;

    margin-top: 1.5rem;
    font-weight: var(--light);
}
.partner{
    width: 68%;
}
.partner h3{
    padding-top:1rem;
    color: var(--secondary);
    font-weight: var(--light)
}
.partner h2{
    padding-top:1rem;
    color: var(--secondary);
    font-weight: var(--light)
}
.partner span{
    color: var(--secondary)
}
.img{
    width: 100%;
    height: 50%;
}