.navContainer{
    display:flex;
    width:100%;
    
}
.solution{
    display:flex;
    padding:2rem 6rem;
    width: 100%;
}
.solutionLi li{
list-style-type: none;
color:var(--secondary) ;
margin-top: 1.5rem;
font-weight: var(--light);
}
.solutionLi{
    overflow-y:scroll;
    height:30vh;
    width: 60%;
    text-decoration-color:none ;
}
.active li{
    border-bottom: 3px solid var(--primary);
    padding-bottom:1rem;
    list-style-type: none;
    text-decoration-color:none ;
    margin-top: 1.5rem;
    font-weight: var(--light);
}
.partner{
    width: 68%;
}
.partner p{
    line-height:1.5rem ;
}
.partner h3{
    padding-top:1rem;
    font-weight: var(--light)
}
.partner h2{
    padding:1rem 0 1rem 0;
    font-weight: var(--light)
}
.partner span{
    color: var(--secondary)
}
.img{
    width: 100%;
    height: 50%;
    /* object-fit: cover; */
    z-index:-1;
}
@media (max-width:1197px){
    .solution{
        flex-direction:column;
        justify-content: center;
    }
    .solutionContainer{
        justify-content:center;
        width: 100%;
        display: flex;
         flex-direction:column; 
         align-items:center;
    }
    .navContainer{
        justify-content:center;
        width: 100%;
        display: flex;
         flex-direction:column; 
         align-items:center;
    }
    .partner h2{
        text-align: center;
    }
    .partner h3{
        text-align: center;
        padding:2rem 0;
    }
    .partner p{
        text-align: center;
    }
    .img{

       justify-content:center;
        width: 100%;
        display: flex;
         flex-direction:column; 
         align-items:center;
        
    }
}
@media (max-width:568px){
    .solution{
        padding:0 0rem;
    }
    .partner h2{
        text-align: center;
        font-size: 1.8rem;
    }
    .img {

        
         width: 100vw;
         padding:1rem 1rem;
         box-shadow:   10px 10px 60px rgba(38, 45, 118, 0.09);
         
     }
}