.OurLocation{
    display:flex;
    padding: 6rem;
}
.OurLocation h2{
padding-bottom: 3rem;
}
.OurLocation p{
line-height:2.2rem ;
padding-right:3rem ;
}
@media (max-width:942px){
    .OurLocation{
        justify-content:center;
        align-items:center ;
        flex-direction:column ;
    }
    .OurLocation h2{
        padding-bottom: 1rem;
        text-align: center;
        }
        .OurLocation p{
            text-align: center;
            padding-bottom:1rem ;
            padding-right:0 ;
            }
        
}
@media (max-width:654px){
    .OurLocation{
        padding: 3rem;
    }
    .OurLocation img{
        width: 90%;
      
        }
        .OurLocation P{
            font-size: 1rem;
            line-height: 1.5rem ;
        }
}