.CloudComputing{
    width:100%;
    display: flex;
    flex-direction: column;
}
.CloudComputing h2{
    font-size:2.5rem;
    padding: 2rem 0;
    text-align: center;
    padding:2rem 6rem;
}
.CloudComputing p{
    line-height:2.2rem ;
    padding:0 6rem;
}
.Cloud img{
    width:20%;
}
.Delivering{
    display:flex;
    flex-direction: column;
    padding: 2rem 6rem;
    width: 100%;
    justify-content:center;
    align-items:center ;
}
.Delivering1{
    display:flex;
    
}
.Delivering2{
    display:flex;
}
.Delivering h3{
    font-size:2rem;
    padding-bottom: 1.5rem;
}
.Cloud{
    border:1px solid #555;
    padding: .9rem;
    margin: 2rem;
}
.Cloud{
    font-size:1.5rem;
    font-weight: var(--light);
}

@media (max-width: 768px){
    .CloudComputing  h2{
        font-size:2rem;
       
        padding:2rem 3rem;
    }
    .CloudComputing  p{
        line-height:2rem ;
        padding:0 3rem;
        text-align: center;
    }
}