.StaffAugmentation1{
    position:relative
}
.btn{
    position:absolute;
    top:70%;
    left:45%;
    z-index: 1;
    justify-content:center;
    align-items:center ;
}
.CloudComputing{
    width:100%;
    display: flex;
    flex-direction: column;
}
.CloudComputing h2{
    font-size:2.5rem;
    text-align: center;
    padding:2rem 6rem;
}
.CloudComputing p{
    line-height:2.2rem ;
    padding:0 6rem;
}
.empty{
    background-color:#999;
    border:1px solid #555;
    width:5%;
    height:9%;
    padding: 1rem;
    border-radius:50% ;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Recruitment{
    width:100% ;
    padding:2rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center ;
    

}
.Recruitment h3{
    padding-bottom: 1rem;
}
.Recruitment p{
    padding-bottom: 1rem;
    line-height: 2.2rem;
     
}
.Recruitment h2{
    text-align: center;
    padding-bottom: 1.9rem;
}
.RecruitmentProcesses{
    display:flex;
    justify-content:center;
    align-items:center ;
    width: 60%;
}
.AccordionHeading{
    display:flex;
    padding:2rem 6rem;
   justify-content:center;
   align-items:center ;
    
}
.AccordionHeading h1 {
    
    justify-content:flex-start;
    font-size:3.5rem;
    display: flex;
    width: 100%;

   
}
@media (max-width: 980px){
    .btn{
        top:85%;
        left:40%;
    }
    .Recruitment{
        padding:1rem 3rem;
    }
    .RecruitmentProcesses{
        width:100% ;
    }
    .AccordionHeading h1{
        text-align: center;
        font-size:2.5rem;
    }
    .CloudComputing {
        padding:2rem 3rem;
        justify-content:center;
        align-items:center ;
        text-align: center;
    }
    .CloudComputing p {
        padding:2rem 3rem;
        justify-content:center;
        align-items:center ;
        text-align: center;
    }
}
@media (max-width: 568px){
    .btn{
        top: 80%;
        left:40%;
    }
    .AccordionHeading h1 {
        
        text-align: center;;
        font-size:1.5rem;
        padding:2rem !important;
    }
    .AccordionHeading  {
        padding:2rem !important;
    }
    
    .CloudComputing {
        padding:1rem 2rem;
        
    }
    .CloudComputing h2{
        padding:0 !important;
    }
    .CloudComputing p {
        padding:1rem 2rem;
    }
}