.formContainer{
    display:flex;
    width: 100%;
     justify-content:space-between; 
    position: relative;
    flex-wrap: wrap;
    height: 85vh;
}
.formContainer img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    z-index:-1;
}
.formInnerContainer{
    display:flex;
    padding:0 6rem;
    flex-direction: column;
    width: 100%;
      margin-top: 7rem; 
     /* flex-wrap: wrap; */
     
}
 form h2{
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    margin-top: 2rem; 
    color:var(--primary);
    padding:0 6rem;
}
.emailInput{
    border:none;
    border-bottom: 3px solid var(--primary)!important;
    margin-top:3rem ;
    margin-right: 1rem;
    padding: 0.5rem 15rem 0.5rem 0.5rem;
    background-color: transparent !important;
    color: #fff;
    font-size:1rem;
    
    
    
}
form{
    position: absolute;
    z-index:1;
    
    
}
.emailInput:focus{
    border: none;
}
.emailInput::placeholder{
    margin-bottom:1.5rem;
    color:#fff;
   
    font-weight: var(--light);
    
    
}
.overlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.emailAddress{
    position: absolute;
    z-index:1;
    top: 0;
    right: 0;
    padding-right: 6rem;
    margin-top: 4rem;
    color:var(--primary);
}
.textarea1 textarea {
    padding: 3rem 6rem;
    font-family: var(--primary);
    margin:2rem 0 2rem 6rem;
    background-color: transparent !important;
    color: #fff;
    font-size:1rem;
    border:none;
    border-bottom: 3px solid var(--primary);
    width: 83%;
    padding: 5rem 15rem 0.5rem 0.5rem;
   
    
    
} 
 .textarea1 textarea::placeholder{
    color:#fff;
    font-weight: var(--light);
} 
.btn{
    border: none;
    padding: 1rem 4rem !important;
    cursor: pointer;
    border-radius:20px ;
}
.btnContainer{
    align-items: left;
    display: flex;
    width:100% ;
    padding:0 6rem;
   

}
.row{
    background:var(--primary);
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.09); 
    border-radius:0 0 5px 5px;
    text-align:center;
    z-index: 11;
    
     
   
}
.icons{
    display:flex;
    
}
.icons h3{
    color:white;
}
.phone{
    font-size:1.7rem;
    margin-right: 1rem;
    margin-bottom:1rem;
}
.call p{
    margin-left: 3rem;
    color:white;
    font-size: 1.2rem;
    margin-bottom:1rem;
}
.Email{
    font-size:1.7rem;
    margin-right: 1rem;
    margin-bottom:1rem;
}
.emailContainar{
    margin-top:3rem ;
}
.emailContainar p{
    margin-left: 3rem;
    color:white;
    font-size: 1.2rem;
    margin-bottom:1rem;
}


        
         
   @media(max-width: 1317px){
    .formContainer{
       
        width: 100vw; 
      
    }
    .formInnerContainer{
        padding:2rem ;

        
       
    }
    .emailAddress{
        padding-right:2rem ;
    }
    .textarea1 textarea {
      
         padding:5rem 0 .5rem .5rem; 
        width:86%;
          margin-left: 2rem;
    }
   }
   @media(max-width: 1214px){
    .formInnerContainer{
        flex-direction: column;

        
       
    }
    .formContainer{
        flex-direction: column;
        height:200vh;
        justify-content: center;
    }
    .formContainer img{
        width: 100%;
        height: 
        0vh;
        
    }
    .emailAddress{
        justify-content: center;
        align-items:center ;
    }
   }
   @media( max-width:767px ){
    .emailAddress{
        top:90%;
        display:flex;
        align-items:center ;
        justify-content:center;
        width: 100% ;
    }
    .emailInput{
        margin-right: 0;
    }
    .formContainer{
        height:160vh;
    }
    .formContainer img{
     
        height: 160vh;
        
    }
    .emailAddress{
        top:80%;
        flex-direction: row;
        font-size:.6rem;
        justify-content:space-evenly;
       
    }
    .emailAddress p{
        line-height:1rem;
        font-size:.6rem;
    }
   }
   @media( max-width:586px ){
    .emailInput{
     padding:3.5rem 0 0 0 ;
     width:100%;
     margin-top:0;
    }
    .textarea1 textarea{
        margin-top:0;
        padding:4rem 0 0 0 ;
    }
    .formContainer{
       align-items:flex-start;
       justify-content:center;
       top:0;
       height:200vh;
    }
    .formContainer img{
     
        height: 200vh;
        
    }
    .emailAddress{
        top:80%;
        flex-direction: row;
        font-size:.6rem;
        /* margin-top:1rem ; */
        justify-content:space-evenly;
       
    }
    .emailAddress p{
        line-height:1rem;
        font-size:.6rem;
    }
    .btn{
        
        padding: 1rem 4rem !important;
      
    }
    .formContainer h2{
      width: 100vw;
      display: flex;
      text-align: center;
    }
      }