.nav_btn{
    background-color:var(--primary) ;
    padding:1rem 2rem;
    border-radius: 20px;
    color:#fff;
    border:none;
}
.nav_btn :hover{
    background-color:var(--secondary) ;
    
}
@media (max-width:568px){
    .nav_btn{
       
        padding:.8rem 1rem;
        border-radius: 10px;
        
    }
}
@media (max-width:425px){
    .nav_btn{
       
        padding:.5rem .8rem;
        border-radius: 5px;
        font-size:.5rem ;
        
    }
}