.formContainer{
    display:flex;
    width: 100%;
     height: 120vh;
    background-color:white;
    justify-content:center;
    align-items:center ;
    gap:2rem;
    position: relative;
}

.formInnerContainer{
    display:flex;
     padding:0 6rem; 
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items:center ;
   
}
 form h4{
    
     
    color:black;
    padding:2rem 6rem;
}
.emailInput{
    border:none;
    border-bottom: 3px solid var(--primary)!important;
    margin-right: 1rem;
    
    padding: 4rem 15rem 0.5rem 0.5rem;
    background-color: transparent !important;
    color:gray;
    font-size:1rem;
    
    
    
}

.emailInput:focus{
    border: none;
}
.emailInput::placeholder{
    margin-bottom:1.5rem;
    color:gray;
   
    font-weight: var(--light);
    
    
}

.emailAddress{
   display:flex;
   color:var(--primary);
}
.textarea1 textarea {
    padding: 3rem 3rem;
    font-family: var(--primary);
    
    background-color: transparent !important;
    color: gray;
    font-size:1rem;
    border:none;
    border-bottom: 3px solid var(--primary);
    width: 83%;
    padding: 4rem 17rem 0 0;
   
    
    
} 
 .textarea1 textarea::placeholder{
    color:gray;
    font-weight: var(--light);
} 
.btn{
    border: none;
    padding: 1rem 2rem !important;
    cursor: pointer;
    border-radius:20px ;
}
.btnContainer{
    align-items: left;
    display: flex;
    width:10% ;
    padding:0 6rem;
    

}
.row{
    background:var(--primary);
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.09); 
    border-radius:0 0 5px 5px;
    text-align:center;
   
    
     
   
}
@media (max-width: 1318px){
   
   
    .textarea1 textarea {
        padding: 4rem 15rem 0.5rem 0.5rem;
        font-family: var(--primary);
        
        background-color: transparent !important;
        color: gray;
        font-size:1rem;
        border:none;
        border-bottom: 3px solid var(--primary);
        width: 83%;
        padding: 5rem 17rem 0 0;
       
        
        
    } 
    .emailInput{
        border:none;
        border-bottom: 3px solid var(--primary)!important;
        margin-right: 1rem;
        
        padding: 4rem 15rem 0.5rem 0.5rem;
        background-color: transparent !important;
        color:gray;
        font-size:1rem;
        
        
        
    }
    
}
@media (max-width: 1024px){
    .textarea1 textarea {
        
        width: 83%;
        padding: 3rem 17rem 0 0;
       
        
        
    } 
    .emailInput{
       
        
        padding: 4rem 10rem 0.5rem 0.5rem;
        
        
        
        
    }
    .formInnerContainer{
        display:flex;
         padding:0 6rem; 
        flex-direction: column;
        width: 100%;
        justify-content:center;
        align-items:center ;
       
    }
    .formContainer{
        height: 95vh;
    }
}
@media (max-width:980px){
    .emailInput{
        padding-right: .3rem;
        padding: 4rem 12rem 1rem 0.25rem;
        font-size:.8rem;
          
    }
    .emailContainar{
        margin-top:3rem ;
    }
    
    .textarea1 textarea {
        padding: 1rem 5rem;
        /* margin:2rem 0 .5rem 5rem; */
        width: 75%;
        padding: 4rem 10rem 1rem 0.5rem;   
    }
     
    .formContainer{
        height: 115vh;
    }
   
}
@media (max-width:952px){
    .formContainer{
        height: 125vh;
    }
}


@media(max-width:920px){ 
     .formContainer{
       display:block;
       justify-content:center;
       width:100% ;
      
    }
    .formInnerContainer{
        padding:0 4rem;
         margin-top: 2rem;
        
         
    }
    .emailAddress{
        display: flex;
       gap:2rem;
        top: 64%;
        padding:0 4rem;
        margin-top: 1rem;
        justify-content:space-between;
        width: 100%;
    } 
   
     .textarea1 textarea {
        padding: 1rem 4rem;
        margin:2rem 0 .5rem 4rem;
        width: 80%;
        padding: 3rem 10rem 1rem 0.5rem;   
    }  
   
   
    
   
}

@media (max-width: 878px){
    .formContainer{
        height: 135vh;
    }
}
@media (max-width: 797px){
    .emailInput{
       
       
        padding: 4rem 9rem 0.25rem 0.25rem;
        font-size:.8rem;
        width: 100%;
        
        
    }
    .textarea1 textarea {
        
        padding: 4.5rem 9rem 0 0.5rem;
       margin-left: 3.5rem;
       margin-top: 0;
       margin-bottom: 1rem;
       width: 75%;
    } 
    .formContainer{
        height: 110vh;
    }
    .formContainer h4{
        padding: 2rem  3rem  0 3rem;
    }
    .formInnerContainer{
        margin-top: 0;
    }
    .btnContainer{
        padding-left: 4rem;
        margin-right: 0;
    }
}