.Footer {
    background:#fff;
    width: 100%;
    
    
}
.FormData{
    position: relative;
    
}
.footerContainer{
    background-color:#444;
    padding:  4rem;
    display:flex;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    width: 100%;
    
}
.footerContainer h3{
    color:var(--primary);
    padding-bottom: 1.5rem;
}
.footerContainer li{
    color:var(--primary) ;
    padding-bottom: 2.2rem;
    font-size: 1rem;
}
.footerContainer a{
    color :white;
} 

.FormData{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.FormData input{
     padding:0.6rem 8.5rem 0.6rem 1rem; 
    border-radius: 5px;
    border:none;
    outline: none;
    
}
.FormData input:first-child{
    margin-bottom: .7rem;
    
}
.btnfooter{
 width: 30%;
 margin-top: .7rem;
 border: none;
}
.Footerbottom{
    display:flex;
    gap:8rem;
    background-color:black;
    color: var(--primary) ;
    padding: 2rem 6rem 2rem 6rem;
    
}
.icon{
   color:#555;
   font-size:1.8rem;
   
}
.iconContainer{
     display: flex;
   width:100%; 
   gap:1.3rem;
}

.icon:hover {
color:hsl(218, 100%, 50%);
transform:scale(1.5);
   transition: 0.3s;
   cursor: pointer;
}
.icon:last-child:hover{
    color:gray;
    transform:scale(1.5);
   transition: 0.3s;
   cursor: pointer;
}
.copyright p:last-child{
    font-size: .9rem;
    margin-top: .5rem;
 
}
.copyright{
    width: 100%;
}
@media (max-width:980px){
    .footerContainer{
        padding:  4rem 1rem;
        justify-content:space-evenly;
        /* flex-direction: column; */
    }
    .FormData input{
        padding:0.6rem 5rem 0.6rem 1rem;
       
        
    }
    .footerContainer h3{
       
        padding-bottom: 1rem;
    }
    
    .Footerbottom{
        display:block;
        
    }
}
@media (max-width: 979px){
    .footerContainer{
        padding: 2rem ;
        justify-content:space-evenly;
       height:150vh;
       flex-direction: column;
    }
}
@media (max-width: 768px){
    .footerContainer{
        padding: 2rem;
        justify-content:space-evenly;
        height:150vh;
    }
    .FormData input{
        padding:0.6rem 5rem 0.6rem 1rem;
       
        
    }
}

@media (max-width: 654px){
    .footerContainer{
        padding: 2rem ;
        justify-content:space-evenly;
      
    }
}
@media (max-width: 572px){
    .footerContainer{
        padding: 2rem;
        justify-content:flex-start;
       flex-direction:column ;
        height:155vh;
       
    }
    .footerContainer h3{
        padding-top: .9rem;

    }
    .FormData input{
       width: 70%;
       
        
    }
    .Footerbottom{
       
        padding:1rem 2rem ;
        font-size:.8rem;
    }
    .icon{
        font-size:.9rem;
        padding-top: .3rem;
        
     }
}