.footerContainer{
    background-color:#444;
    padding: 1rem 6rem 0 6rem;
}
.footerContainer h3{
    color:var(--primary);
    margin-bottom: .9rem;
}
.footerContainer li{
    color:var(--primary) ;
    margin-bottom: .8rem;
    font-size: .8rem;
}
.footerContainer a{
    color :white;
} 
.footerContainer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
.FormData{
    display:flex;
    flex-direction: column;
}
.FormData input{
    padding:0.6rem 8.5rem 0.6rem 1rem;
    border-radius: 5px;
    border:none;
    outline: none;
    
}
.FormData input:first-child{
    margin-bottom: .7rem;
    
}
.btnfooter{
 width: 30%;
 margin-top: .7rem;
 border: none;
}
.Footerbottom{
    /* display:grid;
    grid-template-columns: repeat(3,1fr); */
    display:flex;
    gap:8rem;
    background-color:black;
    color: var(--primary) ;
    padding: 2rem 6rem 2rem 6rem;
}
.icon{
   color:#555;
   font-size:1.8rem;
   
}
.iconContainer{
     display: flex;
   width:100%; 
   gap:1.3rem;
}

.icon:hover {
color:hsl(218, 100%, 50%);
transform:scale(1.5);
   transition: 0.3s;
   cursor: pointer;
}
.icon:last-child:hover{
    color:gray;
    transform:scale(1.5);
   transition: 0.3s;
   cursor: pointer;
}
.copyright p:last-child{
    font-size: .9rem;
    margin-top: .5rem;
 
}
.copyright{
    width: 100%;
}