.emailAddress{
display:flex;
padding: 3rem;
justify-content:center;
width: 100%;
height: 100%;
gap:2rem;

}
.call{
  background-color: azure;  
  padding: 8rem 15rem ;
  border-radius: 5px;
  display: flex;
  width:100%;
  flex-direction:column ;
  position: relative;
  
}
.call1{
     position: absolute;
     top:65%;
     left:6%;
}
.emailContainar{
    background-color: navy;  
    padding: 8rem 15rem ;
  border-radius: 5px;
  display: flex;
  width:100%;
  flex-direction:column ;
  position: relative;
}
.Email{
    font-size:5rem;
    color:white;
}
.emailContainar1{
    position: absolute;
    top:65%;
    left:6%;
    color:white;
}
.phone{
    font-size:5rem;
    color:gray;  
}
@media (max-width: 980px){
  .emailAddress{
    flex-direction:column;
    padding:1rem 3rem;
    overflow-x: hidden;
  }
  .emailContainar{  
    padding: 6rem 4rem ;
 
}
.call{
  padding: 6rem 4rem ;
 
  
}
}
