.Accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}
.AccordionContainer{
    display: flex;
    flex-direction: column;
    background-color: #fbf9f9;
    margin: 3rem 6rem 3rem  6rem; 
    box-shadow:  rgba(0,0,0,0.25) 0px 54px 55px, rgba(0,0,0,0.12) 0px -12px 30px, 
    rgba(0,0,0,0.12) 0px 4px 6px 6px, rgba(0,0,0,0.17) 0px 12px 13px, rgba(0,0,0,0.9) 0px -3px 5px;
   
}
.AccordionHeader{
    display: flex;
    justify-content:space-between;
   padding:.9rem 2rem;
    
}
.AccordionSign{
    cursor:pointer;
}
.AccordionAnswer{
    opacity: 0;
    height:0;
    display:flex;
    overflow:hidden;
    transition:all 600ms ease-in-out;
    padding:.9rem 2rem;
    
}
.AccordionAnswer .show{
    opacity: 1;
    height:8rem;
    display:flex;
     
}
.AccordionSign span{
    font-size:2rem;
    background-color:black;
    border-radius: 100%;
    color:white;
}
.AccordionContainer p{
    padding:.9rem 2rem; 
    background-color:#fbf9f9;
}

@media (max-width: 768px){
    .AccordionContainer{
        
        margin: 0 3rem .9rem 3rem; 
       
    }
}